* {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

#loading {
    width: 13em;
    margin: 30vh calc(50% - 6.5em) 0;
}

button {
    height: 45px;
    padding: 2.5px 2em;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
}

.bt-primary {
    background-color: #FADC9C;
    color: #fff;
}

.bt-primary:hover {
    background-color: rgb(255, 233, 184);
}

nav {
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 15px 5%;
    background-color: #fff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

nav img {
    height: 45px;
}

nav form {
    width: 100%;
    text-align: center;
}

nav input {
    height: 40px;
    width: 75%;
    padding: 2.5px 2em;
    background: #CECECE;
    border: 0;
    border-radius: 5px;
    color: #fff;
}

input:focus, select:focus {
    outline-width: 0;
}

nav input::placeholder {
    color: #fff;
}

.container {
    width: 100%;
    margin-top: 75px;
    display: flex;
    justify-content: center;
}

table {
    width: 80%;
    border-spacing: 0;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 1.5em .5em;
    text-align: center;
}

th {
    background-color: #FADC9C;
    color: #fff;
}

.tool {
    padding: 1.5em 0;
    display: flex;
    justify-content: center;
}

.tool img {
    width: 20px;
    margin: 0 1em;
    cursor: pointer;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 90;
}

.modal .bg-fade {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-color: #000;
    opacity: .5;
}

.modal .content {
    width: 750px;
    z-index: 1;
    background-color: #fff;
    border-radius: 5px;
    padding-bottom: 2em;
}

.modal .header {
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h4 {
    margin: 0;
    font-size: 20px;
}

h3 {
    margin: 0;
    font-size: 25px;
}

.modal .header img {
    width: 18px;
    height: 15px;
    cursor: pointer;
}

#form-input {
    width: calc(100% - 8em);
    margin: 1em 4em;
}

#form-input input, #form-input select {
    width: calc(100% - 2em);
    margin-bottom: 2em;
    padding: 1em;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #969191;
    color: rgb(117, 117, 117);
}

#form-input input:hover, #form-input select:hover {
    background: rgba(250, 220, 156, 0.308);
}

#form-input select {
    width: 100%;
    cursor: pointer;
}

#form-input button {
    float: right;
}

.show-empty {
    width: 100%;
    margin: 4em 0;
    text-align: center;
}

.show-empty img {
    width: 20em;
    margin-bottom: 2em;
}

@media screen and (max-width: 800px) {
    .container {
        margin-top: 30px;
    }
    table {
        width: calc(100% - 60px);
    }
    .modal .content {
        width: calc(100% - 50px);
    }
    #form-input {
        width: calc(100% - 4em);
        margin: 1em 2em;
    }
}

@media screen and (max-width: 500px) {
    .container {
        margin-top: 20px;
    }
    table {
        width: calc(100% - 20px);
    }
    .img-success {
        width: 7em !important;
        margin: 2em 0 !important;
    }
    .show-empty img {
        width: 15em;
    }
    .show-empty h3 {
        font-size: 20px;
    }
}